<!-- SLIDE BANNER -->
<section id="slide">
  <div class="slider">
    <owl-carousel-o [options]="customOptions1"  (dragging)="isDragging = $event.dragging" *ngIf="Slider" >

      
        <ng-template *ngFor="let slide of Slider"  carouselSlide  >
          <a [id]="slide.maPhim" owlRouterLink="/chi-tiet-phim/{{slide.maPhim}}" [stopLink]="isDragging">
              <img  [src]="slide.moTa" alt="">  
          </a>
          <!-- <img [owlRouterLink]="['/chi-tiet-phim/:id']" [stopLink]="isDragging"  [src]="slide.banner" alt=""> -->
          <button class="play-button" (click)="phatTrailerchoSlider(slide.trailer)">
            <i class="fa fa-play"></i>
          </button>
          
          </ng-template>
      
  
    </owl-carousel-o>
  </div>
</section>


<!-- SLIDE FILM DANG CHIEU & SAP CHIEU -->


<section id="lichchieu">
  <!-- BUTTON CHUYEN PHIM -->
  <div class="text-center pt-2">
    <button class="btn btn-outline-success mr-2" (click)="show()">Phim Đang Chiếu</button>
    <button class="btn btn-outline-primary" (click)="hide()">Phim Sắp Chiếu</button>
  </div>
  
  
  
  <div class="container">
    
    <!-- PHIM DANG CHIEU -->
    <div class="DangChieu" *ngIf="phimStatus;else sapChieu">
      <owl-carousel-o class=" container sliderPhim" [options]="customOptions" *ngIf="phimDangChieu">
        
        <ng-container *ngFor="let phim of phimDangChieu">
          <ng-template carouselSlide [id]="phim.maPhim">
            <app-item-phim [phim]="phim"></app-item-phim>
          </ng-template>
        </ng-container>
  
      </owl-carousel-o>
    </div>
    
    <!-- PHIM SAP CHIEU -->
    <ng-template #sapChieu>
      <div class="SapChieu">
        <owl-carousel-o class=" container sliderPhim " [options]="customOptions" *ngIf="phimSapChieu">
  
          <ng-container *ngFor="let phim of phimSapChieu">
            <ng-template carouselSlide [id]="phim.maPhim">
              <app-item-phim [phim]="phim">
              </app-item-phim>
            </ng-template>
          </ng-container>
  
        </owl-carousel-o>
      </div>
    </ng-template>
    
  </div>
</section>
<div class="play_video" *ngIf="hienthi" (click)="hideVideo()">
  <app-video [hienthi]="hienthi" link="{{linkTrailer}}"></app-video>
</div>

<!-- CỤM RẠP CHIẾU SECTION -->
<section id="cumrap">
  <h1 class="text-white">HỆ THỐNG RẠP CHIẾU PHIM</h1>
  <div class="container hethongrap">
    <div class="row">
        <ul class="hethongrap_icon nav nav-tabs col-md-2">
            <li class="nav-item" *ngFor="let htr of cinemaSystem; let stt=index">
              <a [ngClass]="{'active':stt===0}" (click)="changeCinemaCluster(htr.maHeThongRap)" data-toggle="tab" class="nav-link" href="#{{htr.maHeThongRap}}">
                  <img  [src]="htr.logo" alt="">
              </a>
            </li>
        </ul>
        <div class="hethongrap_cumrap tab-content col-md-4 " >

            <div  class="tab-pane container" *ngFor="let htr of cinemaSystem; let stt=index" [ngClass]="{'active':stt===0}" id="{{htr.maHeThongRap}}" >
              <!-- kiểm tra thông tin cụm rạp lấy từ api có hay không -->
              <ul class="list_group" *ngIf="cumRapTheoHtrRap.length > 0; else none">
                
                  <li  class=" list_group_item row mb-4" *ngFor="let cumRap of cumRapTheoHtrRap; let stt=index " [ngClass]="{'active':stt===0}" >
                    <img [src]="htr.logo" alt="" class="col-3">
                    <div class="col-md-8">
                      <h5>{{cumRap.tenCumRap}}</h5>
                      <p>{{cumRap.diaChi}}</p>
                      <a href="">Chi Tiết</a>
                    </div>
                  </li>
               
              </ul>
              <ng-template #none></ng-template>
              
            </div>
            
        </div>
        <div class="col-md-6 hethongrap_cumrap_dsphim">
            
        </div>
        
    </div>
  </div>
</section>